.ant-table-footer{
    padding: 12px 12px!important;
    background: none!important;
    border-radius: 0!important;
    border-bottom: 1px solid #dee2e6;;
}
.custom-cell-class{
    background-color: red!important;
}