.form-control {
    border: 1px solid #939598 !important;
    color: #939598 !important;
    background-color: #FAFAFA !important;
    border-radius: 4px !important;
}

.form-label{   
    font-family: "Inter", sans-serif !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #808080 !important;
}

.form-label.mandatory:after {
    content: "*";
    color: red;
    margin-left: 1px;
}

.form-control:focus {
    box-shadow: none !important;
}

.form-control::placeholder{
    color: rgba(0, 0, 0, 0.25)!important;
    ;
}

.form-control.is-invalid{
    background-image: none!important;
    border-color: #dc3545!important;
    padding-right: 0.7rem!important;

}

.form-control.is-valid, .was-validated .form-control:valid{
    background-image: none!important;
}

.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}