@import "../../../App.scss";
//-----------------radio single---------------------
.radio {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.radio .form-check-input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='1.5' height='.9' viewBox='0 0 9 8'%3e%3crect x='0.5' width='8' height='8' rx='4' fill='%233763AF'/%3e%3c/svg%3e");
}
.radio .form-check-input:checked[type=radio]:disabled {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='1.5' height='.9' viewBox='0 0 8 8'%3e%3crect width='8' height='8' rx='4' fill='black' fill-opacity='0.25'/%3e%3c/svg%3e");
}
  .radio .form-check-input:checked{
    background-color: $color-light;
    border:1px solid $primary-color;
  }
  .radio .form-check-input:disabled{
    border-color: $form-input-text-color;
  }
  .radio .form-check-input{
    width:18px !important;
    height: 18px !important;
    --bs-form-check-bg:none !important;
  }