.modal-title{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: rgba(44, 76, 134, 1)!important;
}
.ant-modal-close:hover{
    background-color: transparent!important;
}
