.dmsfile{
  width: 108px;
  height: 106px;
  top: 144px;
  left: 231px;
  border-radius: 4px ; 
  cursor: pointer;
  display: flex !important;
  flex-direction:column !important;
  background: white !important;
  align-items: center !important;
  justify-content: center !important;
  margin-right: 1.5rem !important;
}
.ml-02rem{
  margin-left: 0.2rem !important;
}
.mb-02rem{
  margin-bottom: 0.25rem !important;
}
