@import "../../App.scss";

.add-doc-button {
    border: $primary-border;
    border-radius: 8px !important;
    padding: 4px 16px 4px 16px !important;
    width: 158px !important;
  }

.add-doc-button-position{
    display: flex;
    justify-content: flex-end;
}
.add-doc-modal-footer{
  display: flex;
  justify-content: center;
}