.mt-18rem{
    margin-top:1.8rem;
}
.confirm-button{
    background: linear-gradient(90deg, #3763AF 0%, #59C5C7 100%);
    font-family: "Inter",sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color:#FFFFFF;
}