.file-icon svg {
  height: 32px !important;
  width: 32px !important;
}

.card-timeline .ant-timeline .ant-timeline-item-head {
  height: 14px !important;
  width: 14px !important;
  border: 2px solid transparent;
}

.card-timeline .ant-timeline .ant-timeline-item-tail {
  inset-inline-start: 6px !important;
}